extend base

block content 
    h3 Upload Your Video

    form(method="POST")
        input(type="text", placeholder="Title", required, name="title")
        input(type="submit", value="Upload video") 